<a href="https://colab.research.google.com/github/aayalas/Python_para_Data_Science_Pandas/blob/main/Python_ML_Classification_SKLearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Machine Learning: Classification with SKLearn

Class 1: Intro to the classification

In [1]:
# features 1 = yes and 0 = no
# has long hair?
# has sharp neils? 
# does meow?

dog1 = [0,1,1]
dog2 = [1,0,1]
dog3 = [1,1,1]

cat1 = [0,1,0]
cat2 = [0,1,1]
cat3 = [1,1,0]

x_train = [dog1, dog2, dog3, cat1, cat2, cat3]
y_train = [1,1,1,0,0,0]

In [2]:
from sklearn.svm import LinearSVC

model = LinearSVC()
model.fit(x_train,y_train)

LinearSVC()

LinearSVC()

In [3]:
mysterious_animal = [1,1,1]
model.predict([mysterious_animal])

array([1])

In [4]:
mystery1 = [1,1,1]
mystery2 = [1,1,0]
mystery3 = [0,1,1]

x_test = [mystery1, mystery2, mystery3]
y_test = [0,1,1]

forecast = model.predict(x_test)

In [5]:
hit = (forecast == y_test).sum()
total = len(x_test)
hit_rate = hit/total
print(f'The hit rate was: {round(hit_rate*100,2)}%')

The hit rate was: 33.33%

In [6]:
from sklearn.metrics import accuracy_score

hit_rate = accuracy_score(y_test, forecast)
print(f'The hit rate was: {round(hit_rate*100,2)}%')

The hit rate was: 33.33%

Class 2: Replicable tests, stratification, reading data from the Internet

In [7]:
import pandas as pd
uri = 'https://gist.githubusercontent.com/ahcamachod/38673f75b54ec62ffc290eff8e7c716e/raw/6eaa07e199d9f668bf94a034cb84dac58c82fa4f/tracking.csv'
data = pd.read_csv(uri)
data.sample(5)

    home  how_it_works  contact  bought
82     0             0        1       0
18     0             0        1       0
66     0             0        1       0
54     1             0        1       1
1      1             1        0       0

In [8]:
x = data[['home','how_it_works','contact','bought']]
x.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [9]:
y = data.bought
y.head()

0    0
1    0
2    0
3    0
4    0
Name: bought, dtype: int64

In [10]:
data.shape

(99, 4)

In [11]:
x_train = x[:75]
y_train = y[:75]
x_test = x[75:]
y_test = y[75:]

In [12]:
y_train.value_counts()

0    48
1    27
Name: bought, dtype: int64

In [13]:
24/75

0.32

In [14]:
y_test.value_counts()

0    18
1     6
Name: bought, dtype: int64

In [15]:
9/24

0.375

In [16]:
print(f"Training with {len(x_train)} elements and Test with {len(x_test)} elements")

Training with 75 elements and Test with 24 elements

In [17]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

model = LinearSVC()
model.fit(x_train,y_train)
forecast = model.predict(x_test)

hit_rate = accuracy_score(y_test, forecast)
print(f'The hit rate was: {round(hit_rate*100,2)}%')

The hit rate was: 100.0%

In [18]:
from sklearn.model_selection import train_test_split

SEED = 42

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.25, random_state = SEED)

model = LinearSVC()
model.fit(x_train,y_train)
forecast = model.predict(x_test)

hit_rate = accuracy_score(y_test, forecast)
print(f'The hit rate was: {round(hit_rate*100,2)}%')

The hit rate was: 100.0%

In [19]:
from sklearn.model_selection import train_test_split

SEED = 42

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.25, random_state = SEED, stratify = y)

model = LinearSVC()
model.fit(x_train,y_train)
forecast = model.predict(x_test)

hit_rate = accuracy_score(y_test, forecast)
print(f'The hit rate was: {round(hit_rate*100,2)}%')

The hit rate was: 100.0%

In [20]:
y_train.value_counts()

0    49
1    25
Name: bought, dtype: int64

In [21]:
25/74

0.33783783783783783

In [22]:
y_test.value_counts()

0    17
1     8
Name: bought, dtype: int64

In [23]:
8/25

0.32