<a href="https://colab.research.google.com/github/aayalas/Python_para_Data_Science_Pandas/blob/main/Python_DS_PD_Create_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

**Series**

In [3]:
data = [1,2,3,4,5]

In [4]:
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
index = ['Linea' + str(i) for i in range(5)]
index

['Linea0', 'Linea1', 'Linea2', 'Linea3', 'Linea4']

In [6]:
s = pd.Series(data = data, index = index)
s

Linea0    1
Linea1    2
Linea2    3
Linea3    4
Linea4    5
dtype: int64

In [7]:
data = {'linea' + str(i) : i + 1 for i in range(5)}
data

{'linea0': 1, 'linea1': 2, 'linea2': 3, 'linea3': 4, 'linea4': 5}

In [8]:
s = pd.Series(data)
s

linea0    1
linea1    2
linea2    3
linea3    4
linea4    5
dtype: int64

In [9]:
s1 = s + 2
s1

linea0    3
linea1    4
linea2    5
linea3    6
linea4    7
dtype: int64

In [10]:
s2 = s1 + s
s2

linea0     4
linea1     6
linea2     8
linea3    10
linea4    12
dtype: int64

In [11]:
In [1]: datos = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(datos)
df

   A  B
X  1  2
Y  3  4

In [12]:
In [2]: datos = [('A', "B"), ('C', 'D')]
df = pd.DataFrame(datos, columns = ['L1', 'L2'], index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [13]:
In [2]: datos = [[1, 2, 3], [4, 5, 6]]
index = 'x,y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(datos, index, columns)
df

   A  B  C
x  1  2  3
y  4  5  6

**DataFrame**

In [14]:
data = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [15]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [16]:
index = ['Linea' + str(i) for i in range(3)]
index

['Linea0', 'Linea1', 'Linea2']

In [17]:
df1 = pd.DataFrame(data = data, index = index)
df1

        0  1  2
Linea0  1  2  3
Linea1  4  5  6
Linea2  7  8  9

In [18]:
columns = ['Columna' + str(i) for i in range(3)]
columns

['Columna0', 'Columna1', 'Columna2']

In [19]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df1

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

In [20]:
data = {'Columna0':{'Linea0': 1, 'Linea1': 4, 'Linea2': 7},
  'Columna1':{'Linea0': 2, 'Linea1': 5, 'Linea2': 8},
  'Columna2':{'Linea0': 3, 'Linea1': 6, 'Linea2': 9}}
data

{'Columna0': {'Linea0': 1, 'Linea1': 4, 'Linea2': 7},
 'Columna1': {'Linea0': 2, 'Linea1': 5, 'Linea2': 8},
 'Columna2': {'Linea0': 3, 'Linea1': 6, 'Linea2': 9}}

In [21]:
df2 = pd.DataFrame(data)
df2

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

In [22]:
data = [(1,2,3),(4,5,6),(7,8,9)]
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [23]:
df3 = pd.DataFrame(data, index = index, columns = columns)
df3

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

In [24]:
df1[df1 > 0] = 'A'
df1

       Columna0 Columna1 Columna2
Linea0        A        A        A
Linea1        A        A        A
Linea2        A        A        A

In [25]:
df2[df2 > 0] = 'B'
df2

       Columna0 Columna1 Columna2
Linea0        B        B        B
Linea1        B        B        B
Linea2        B        B        B

In [26]:
df3[df3 > 0] = 'C'
df3

       Columna0 Columna1 Columna2
Linea0        C        C        C
Linea1        C        C        C
Linea2        C        C        C

In [28]:
df4 = pd.concat([df1, df2, df3])
df4

       Columna0 Columna1 Columna2
Linea0        A        A        A
Linea1        A        A        A
Linea2        A        A        A
Linea0        B        B        B
Linea1        B        B        B
Linea2        B        B        B
Linea0        C        C        C
Linea1        C        C        C
Linea2        C        C        C

In [29]:
df5 = pd.concat([df1, df2, df3], axis = 1)
df5

,Columna0,Columna1,Columna2,Columna0,Columna1,Columna2,Columna0,Columna1,Columna2
Linea0,A,A,A,B,B,B,C,C,C
Linea1,A,A,A,B,B,B,C,C,C
Linea2,A,A,A,B,B,B,C,C,C